[[!meta title="Talking in public with other Tails developers and users"]]

<p>If you want to talk <strong>in public</strong> with other Tails developers and users:</p>

  <ul>
    <li>
      You can <a href='https://mailman.boum.org/listinfo/tails-dev/'>subscribe</a> or write
      to the <a href='mailto:tails-dev@boum.org'>tails-dev@boum.org</a> mailing-list.
      Any message sent to this
      list is stored in a public archive, so beware of what your email content
      and headers reveal about yourself: location, IP address, etc.
    </li>
    <li>
      You can join our [[#tails|support/chat]] and
      [[#tails-dev|contribute/chat]] chatrooms; note: only a few
      Tails core developers hang out there, so email
      is preferred for anything that might be of
      interest for the larger Tails development community.
    </li>
    <li>
      For <emph>translation-related matters</emph>, you can
      <a href='https://mailman.boum.org/listinfo/tails-l10n/'>subscribe</a> or write
      to the <a href='mailto:tails-l10n@boum.org'>tails-l10n@boum.org</a> mailing-list.
      Any message sent to this
      list is stored in a public archive, so beware of what your email content
      and headers reveal about yourself: location, IP address, etc.
    </li>
    <li>
      For <emph>user experience and user interface related matters</emph>, you can
      <a href='https://mailman.boum.org/listinfo/tails-ux/'>subscribe</a> or write
      to the <a href='mailto:tails-ux@boum.org'>tails-ux@boum.org</a> mailing-list.
      Any message sent to this
      list is stored in a public archive, so beware of what your email content
      and headers reveal about yourself: location, IP address, etc.
    </li>
  </ul>

  <p>
    For matters that need to be hidden from the public eyes, email
    the private development mailing list: <a href='mailto:tails@boum.org'>tails@boum.org</a>.
    To achieve end-to-end encryption, encrypt such email with [[our OpenPGP key|doc/about/openpgp_keys]].
  </p>

